<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">

    <persistence-unit name="persistenceUnit" transaction-type="JTA">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <jta-data-source>jdbc/HospitalityDataSource</jta-data-source>
        <class>com.example.model.AmmenitiesEntity</class>
        <class>com.example.model.HotelPropertyEntity</class>
        <class>com.example.model.HotelsEntity</class>
        <class>com.example.model.InventoriesEntity</class>
        <class>com.example.model.ReservationEntity</class>
        <class>com.example.model.RoomEntity</class>
        <class>com.example.model.RoomPropertyEntity</class>
        <class>com.example.model.Client</class>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/mydb"/>
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
            <property name="hibernate.connection.username" value="root"/>
            <property name="hibernate.connection.password" value="1111ZZ"/>
            <property name="hibernate.transaction.jta.platform"
                      value="org.hibernate.engine.transaction.jta.platform.internal.SunOneJtaPlatform"/>
            <property name="hibernate.hbm2ddl.auto" value="validate"/>
        </properties>
    </persistence-unit>
</persistence>