
/HospitalityRestServer/.idea/workspace.xml
/HospitalityRestServer/.idea/dataSources.ids
/HospitalityRestServer/.idea/dataSources.xml
/HospitalityRestClient/.idea/workspace.xml
/HospitalityRestClient/target/classes
/HospitalityRestClient/target/HospitalityRestClient/WEB-INF/classes