.formWrap {
    width: 600px;
    margin: 0 auto;
}

.standardForm .row label {
    display: inline-block;
    width: 50px;
    margin-right: 5px;
    font-weight: bold;
}

.standardForm .row .error {
    padding-left: 57px;
    color: red;
}

.row .hide {
    display: none;
}
