<component name="ArtifactManager">
  <artifact type="war" name="SpringTraining:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringTraining-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringTraining:war exploded" />
    </root>
  </artifact>
</component>