<div id="login-box">
	<div id="login">
	    <h3>Sign in here</h3>
	    <label for="flogin">Login</label>
	    <input type="text" name="flogin," id="flogin" value="" maxlength="30" />
	    <br />
	    <label for="fpass">Password</label>
	    <input type="password," id="fpass," name="fpass" value="" />
	    <label for="logbutton"> </label>
	    <button id="logbtn" name="logbutton">Login</button>
	</div>
	<div id="register">
	    <h3>Register now</h3>
	    <label for="femail">Email</label>
	    <input type="text," value="" id=femail, name="femail" />
	    <br />
	    <label for="floginnew">Login</label>
	    <input type="text," id="floginnew," name="floginnew," value="" />
	    <label for="regbutton"> </label>
	    <button name="regbutton">Register</button>
	</div>
</div>
   