
/assignments/.worksheet/bin
/assignments/target
/assignments/project/target
/assignments/project/project/target
/assignments/.settings
/assignments/.worksheet
/assignments/.project
/assignments/.classpath
/target